*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(127, 195, 255);
}

header li{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    padding: 20px;
}

a{
    color:black;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

a:hover{
    color: azure;
}

main{
    background-color: azure;
    font-family: 'Roboto', Arial, Tahoma;
}

article h4{
    color: black;
}

p{
    color: rgb(81, 81, 81);
}

img{
    width: 100%;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 30px;
    color: rgb(17, 17, 146);
}

.card{
    display: flex;
    align-self: self-start;
    flex-wrap: wrap;
    width: 200px;
    background-color: rgb(216, 222, 226);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(130, 200, 255);
    font-family: 'Times New Roman', Times, serif;
}